.rowOne {
    grid-column: 1/4;
    grid-row: 1/2;
    margin: 4% 2% 2% 4%;
    display: flex;
    justify-content: space-between;
}

.cards {
    grid-row: 3/4;
    grid-column: 1/4;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    justify-content: space-around;
    margin: 1rem 0 0 2rem;
    padding-bottom: 1.4rem;
    
}

.buttonGroup {
    background-color: #0ea8a8;
    height: fit-content;
    padding: 5px 6px;
    border-radius: 5px;

}

.buttons {
    background-color: #0fc8c800;
    color: #fff;
    padding: 5px 10px;
    transition: all 0.6s ease-in;
    font-size: 22px;
    font-family: var(--secFont);
    letter-spacing: -0.08rem;
    border: none;
}

.buttons:hover {
    cursor: pointer;
    background-color: #096c77;
    border-radius: 3px;
}

.pagesButtons {
    font-size: 2rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 2px;
    float: right;
}

.pagesButtons:hover {
    border-radius: 23%;
    padding: 2px;
    font-size: 2.1rem;
}

.searchWrapper {
    display: flex;
    gap: 1rem;
}
.createBtn {
    background-color: #342c2c;
    height: fit-content;
    padding: 10px 16px;
    border-radius: 5px;
    color: #fff;
    transition: all 0.6s ease-in;
    font-size: 22px;
    font-family: var(--secFont);;
    letter-spacing: -0.1rem;
    border: none;
    margin-left: 0;
}

.createBtn:hover {
    cursor: pointer;
    background-color: #096c77;
    border-radius: 3px;
}

.pages{
    grid-column: 3/4;
    margin: 0 15px 3px auto;
    font-family: var(--secFont);
}

.activePage {
    background-color: #342c2c;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.inactivePage {
    padding: 3px;
    cursor: pointer;
    color: (--java)
}

.inactivePage:hover{
    border-bottom: 2px solid var(--java);
}